.listCoins {
  display: block;
  width: 100%;
  .paper {
    padding: 15px 0 0;
  }
  .item {
    padding: 5px 20px;
    width: 100%;
    cursor: pointer;

    &:hover {
      background: #eee;
    }
    .name {
      border-radius: 40px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #3f51b5;
      font-size: 13px;
      color: #fff;
      font-weight: 600;
    }
    td {
      font-size: 15px;
      color: rgb(124, 122, 136);
    }
  }
  [class*=MuiTableRow-hover] {
    &:hover {
      background-color: rgba(145, 148, 161, 0.2) !important;
    }
  }
  [class*=Mui-selected] {
    background-color: rgba(63, 81, 181, 0.8) !important;
    .name {
      color: #3f51b5;
      background: #fff;
    }
    td {
      color: #fff;
    }
    &:hover {
      background-color: rgba(63, 81, 181, 0.8) !important;
    }
  }
}

.main {
  width: 100%;
  display: block;
}

.paper {
  padding: 20px 0,
}

.formControl {
  min-width: 200px;
  margin-right: 15px !important;
}

.alignRigth {
  text-align: right; 
}
.block {
  margin: 0px;
}
.actionsContainer {
  padding: 25px;
}

.listing {

  .cod {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #3f51b5;
    border-radius: 40px;
    color: #fff;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
    padding: 10px
  }
  
  [class*='MuiTableRow-root'] [class*='MuiTableCell-root'] {
    padding: 10px;
    max-height: 50px;
  }

  table {
    .p {
      margin: 0;
      padding: 0;
    }    
  }
  .client {
    display: flex;
    flex-direction: column;
    .p {
      color: #3f51b5;
      font-size: 15px;
    }
    .span {
      color: #707070;
      display: block;
      font-size: 13px;
    }
  }
  .coin {
    .span {
      font-size: 15px;
      color: #3f51b5;
    }
    .paymentOk {
      color: rgb(69, 163, 97);
    }
  }
  .send {
    .span {
      font-size: 15px;
      color: #3f51b5;
    }
    .deliveryOk {
      color: rgb(69, 163, 97);
    }
  }
  
  
}


.paperModal {
  left: calc(50vw - 200px);
  top: 10vh;
  position: fixed;
  width: 400px;
  background: #fff;
  padding: 20px;
}