.logoLink {
  display: flex;
  justify-content: center;
  text-decoration: none;
  .logo {
    background-position: 0px 0px;
    width: 157px;
    height: 70px;
    font-size: 0;
    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
    }
  }
  &.secundary {
    .logo {
      background-position: 0px -73px;
    }
  }
}